<div class="bg-indigo-700 m-10 p-10 border rounded">

    <p class="text-3xl text-white">Our Services</p>
    <br/><br/>

    <div class="container mx-auto w-full flex flex-wrap justify-between mx-2">

    <ul class="px-4 w-full sm:w-1/2 lg:w-1/4 border-gray-600 border-b sm:border-r lg:border-b-0 pb-6 pt-6 lg:pt-3">
        <h3 class="font-bold text-xl text-white underline text-bold mb-2">Hair Cut</h3>
        <li>
            <div class="flex justify-between">
                <div class="text-white text-xl pb-4 pt-3 text-center ">Haircut</div>
                <div class="text-white text-xl pb-4 pt-3 justify-end text-center ">-150</div>           
            </div>
        </li>
            
        <li>
            <div class="flex justify-between">
                <div class="text-white text-xl pb-4 pt-3 text-center ">Haircut Style Change</div>
                <div class="text-white text-xl pb-4 pt-3 justify-end text-center ">-170</div>           
            </div>
        </li>

        <li>
            <div class="flex justify-between">
                <div class="text-white text-xl pb-4 pt-3 text-center ">Beard Shave</div>
                <div class="text-white text-xl pb-4 pt-3 justify-end text-center ">-100</div>           
            </div>
        </li>
        <li>
            <div class="flex justify-between">
                <div class="text-white text-xl pb-4 pt-3 text-center ">Kids Cut</div>
                <div class="text-white text-xl pb-4 pt-3 justify-end text-center ">-130</div>           
            </div>
        </li>
        <li>
            <div class="flex justify-between">
                <div class="text-white text-xl pb-4 pt-3 text-center ">Beard Shaping</div>
                <div class="text-white text-xl pb-4 pt-3 justify-end text-center ">-100</div>           
            </div>
        </li>
      </ul>


      <ul class="px-4 w-full sm:w-1/2 lg:w-1/4 border-gray-600 border-b sm:border-r-0 lg:border-r lg:border-b-0 pb-6 pt-6 lg:pt-3">
        <h3 class="font-bold text-xl text-white underline text-bold mb-2">Coloring</h3>
        <li>
            <div class="flex justify-between">
                <div class="text-white text-xl pb-4 pt-3 text-center ">Basic Coloring</div>
                <div class="text-white text-xl pb-4 pt-3 justify-end text-center ">-500</div>           
            </div>
        </li>
            
        <li>
            <div class="flex justify-between">
                <div class="text-white text-xl pb-4 pt-3 text-center ">Ammonia Free</div>
                <div class="text-white text-xl pb-4 pt-3 justify-end text-center ">-1000</div>           
            </div>
        </li>

        <li>
            <div class="flex justify-between">
                <div class="text-white text-xl pb-4 pt-3 text-center ">Beard Coloring</div>
                <div class="text-white text-xl pb-4 pt-3 justify-end text-center ">-700</div>           
            </div>
        </li>
        <li>
            <div class="flex justify-between">
                <div class="text-white text-xl pb-4 pt-3 text-center ">Creative Coloring</div>
                <div class="text-white text-xl pb-4 pt-3 justify-end text-center ">-1500</div>           
            </div>
        </li>
        <li>
            <div class="flex justify-between">
                <div class="text-white text-xl pb-4 pt-3 text-center ">Streak (per streak)</div>
                <div class="text-white text-xl pb-4 pt-3 justify-end text-center ">-400</div>           
            </div>
        </li>
      </ul>


      <ul class="px-4 w-full sm:w-1/2 lg:w-1/4 border-gray-600 border-b sm:border-r-0 lg:border-r lg:border-b-0 pb-6 pt-6 lg:pt-3">
        <h3 class="font-bold text-xl text-white underline text-bold mb-2">Hair Spa</h3>
        <li>
            <div class="flex justify-between">
                <div class="text-white text-xl pb-4 pt-3 text-center ">Classis Hair Spa</div>
                <div class="text-white text-xl pb-4 pt-3 justify-end text-center ">-450</div>           
            </div>
        </li>
            
        <li>
            <div class="flex justify-between">
                <div class="text-white text-xl pb-4 pt-3 text-center ">Frizz Ease</div>
                <div class="text-white text-xl pb-4 pt-3 justify-end text-center ">-650</div>           
            </div>
        </li>

        <li>
            <div class="flex justify-between">
                <div class="text-white text-xl pb-4 pt-3 text-center ">Repair & Rejuvenate</div>
                <div class="text-white text-xl pb-4 pt-3 justify-end text-center ">-700</div>           
            </div>
        </li>
        <li>
            <div class="flex justify-between">
                <div class="text-white text-xl pb-4 pt-3 text-center ">Argan Oil Hair Spa</div>
                <div class="text-white text-xl pb-4 pt-3 justify-end text-center ">-1000</div>           
            </div>
        </li>
        <li>
            <div class="flex justify-between">
                <div class="text-white text-xl pb-4 pt-3 text-center ">Smoothening Spa</div>
                <div class="text-white text-xl pb-4 pt-3 justify-end text-center ">-800</div>           
            </div>
        </li>
      </ul>


      <ul class="px-4 w-full sm:w-1/2 lg:w-1/4 border-gray-600 pb-6 pt-6 lg:pt-3">
        <h3 class="font-bold text-xl text-white underline text-bold mb-2">Make Up</h3>
        <li>
            <div class="flex justify-between">
                <div class="text-white text-xl pb-4 pt-3 text-center ">Cleanse & Lashes</div>
                <div class="text-white text-xl pb-4 pt-3 justify-end text-center ">-400</div>           
            </div>
        </li>
            
        <li>
            <div class="flex justify-between">
                <div class="text-white text-xl pb-4 pt-3 text-center ">Mini Facial</div>
                <div class="text-white text-xl pb-4 pt-3 justify-end text-center ">-650</div>           
            </div>
        </li>

        <li>
            <div class="flex justify-between">
                <div class="text-white text-xl pb-4 pt-3 text-center ">Natural Facial</div>
                <div class="text-white text-xl pb-4 pt-3 justify-end text-center ">-750</div>           
            </div>
        </li>
        <li>
            <div class="flex justify-between">
                <div class="text-white text-xl pb-4 pt-3 text-center ">Manicure & Nail Repair</div>
                <div class="text-white text-xl pb-4 pt-3 justify-end text-center ">-500</div>           
            </div>
        </li>
        <li>
            <div class="flex justify-between">
                <div class="text-white text-xl pb-4 pt-3 text-center ">Bridal Makeup</div>
                <div class="text-white text-xl pb-4 pt-3 justify-end text-center ">-2000</div>           
            </div>
        </li>
      </ul>

    </div>
    
</div>

