<div class="py-10 lg:py-10 px-4 mb-4 text-indigo-700">
  <div class="container m-auto text-center">
    <h1 class="text-xl lg:text-3xl">Welcome to <%= "RBEAUT" %>!</h1>
    <p class="lead my-2 max-w-md m-auto leading-normal text-grey-700 text-lg mb-4">Get styled by RBEAUT Fashion Salon experts who bring you the latest runway trends in skin, hair and makeup. Get your beauty journey started!
    </p>

    <br/>
    <% unless user_signed_in? %>
    <%= link_to "Sign Up", new_user_registration_path, class:"btn btn-primary my-3" %>
    <% else %>
    <%= link_to "Schedule a new Reservation", new_meeting_path, class:"btn btn-primary my-3" %>
    <% end %>
  </div>
</div>


<div class="max-w-lg m-auto">
  <div class="py-8 lg:py-16 px-4 flex flex-wrap items-center justify-between">

    <div class="lg:w-1/2 w-full mb-4 lg:mb-0">
      
      <p class="leading-normal">Our runway experts have curated some of the most popular services at RBEAUT Salon, just for you. Take your pick, reserve your time and head to your nearest salon and get started on your makeover!</p>
    </div>

    <div class="lg:w-1/2 w-full text-center">
      <%= image_tag 'teacher.svg', alt: "Become a pro", width: 400 %>
    </div>
  </div>

</div>